name: Release

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  draft_release:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
    - name: Setup environment
      run: echo "RELEASE_TAG=${GITHUB_REF:10}" >> $GITHUB_ENV
    - name: Checkout code
      uses: actions/checkout@v5.0.1
      with:
        fetch-depth: 0
    - name: Calculate Go version
      run: echo "go_version=$(make go-version)" >> $GITHUB_ENV
    - name: Setup Go
      uses: actions/setup-go@v6.0.0
      with:
        go-version: ${{ env.go_version }}
    - name: Generate artifacts
      run: make release
    - name: Draft release
      uses: softprops/action-gh-release@v2.4.2
      with:
        draft: true
        files: out/*
